extends layout 

block index

    div(class='get-started text-center mt-5')
        h2 Login or Signup to get started!
        div(class='mt-4 mb-2') 
            a(href='/login') Login
        div 
            a(href='/signup') Signup