extends nav

block profile

    div(class='text-center mt-5')
        p User Name: !{user.userName}
        p Email: !{user.email}
        a(href='/logout') Logout

    ul(class='text-center px-0')
        each element in posts
            li(class='profile-post my-3')
                a(href=`/post/${element._id}`)
                    img(src=`${element.image}` class='rounded')