extends nav

block profile

    div(class='text-center mt-5')
        p User Name: !{user.userName}
        p Email: !{user.email}
        a(href='/logout') Logout

    ul
        each element in posts
            li
                a(href=`/post/${element._id}`)
                    img(src=`${element.image}`)
    
    a(href='/feed') Return to Feed