/* app name */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: #f5f5f5;
}

.app-name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 20px;
}

.app-name a {
    color: #B73E3E;
    text-decoration: none;
}

.form-signup .form-floating:focus-within, .form-login .form-floating:focus-within {
    z-index: 2;
}

.form-signup, .form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* LOGIN page make form corners sharp*/
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;   
}

.form-login input[type='password'] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* SIGNUP page make form corners sharp*/
.form-signup input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
}

.form-signup input[type="email"], .form-signup input[name="password"] {
    border-radius: 0;
    border-radius: 0; 
}

.form-signup input[name="confirmPassword"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.get-started {
    font-family: 'Montserrat', sans-serif;
}

/* FEED and PROFILE */
.feed-post, .profile-post {
    list-style-type: none;
}

.feed-post img, .profile-post img {
    max-width: 500px;
    max-height: 300px;
    object-fit: cover;
}

/* POST */
.post-container {
    max-width: 400px;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.post-img-container {
    margin: auto;
    margin-bottom: 10px;
}

.post-img-container img {
    width: 100%;
    object-fit: cover;
}

.post-container h2 {
    font-weight: 600;
}

.post-like, .post-delete {
    display: inline;
}

/* POST caption */
.post-container input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.post-container input[type="checkbox"]:checked + p {
    -webkit-line-clamp: unset;
}

.post-container .caption:not(.truncated) ~ label {
    /*prevents showing button if text is too small*/
    display: none; 
}

.post-container .caption {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}