@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.app-name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 20px;
    color: #B73E3E;
}

.form-signin {
    max-width: 330px;
}